<form class="actor-sheet npc-sheet {{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="64" height="64"
      alt="{{actor.name}}" />
    <div class="header-fields">
      <input class="name" type="text" data-dtype="String" name="name" value="{{actor.name}}"
        placeholder="{{ localize 'OQ.Labels.Name' }}" title="{{enrichedShortDescription}}" />
      {{editor enrichedShortDescription target="system.personal.shortDescription" id="shortDescription"
      engine="prosemirror"
      button=true editable=true}}
    </div>

  </header>
  <section class="sheet-body">

    <!-- Characteristics -->
    <div class="characteristics">
      <h2 class="flex0">{{ localize 'OQ.Labels.Characteristics' }}</h2>

      <div class="characteristics-list">
        {{#each system.characteristics as |char key| }}
        <div class="characteristic">
          <label for="char{{ key }}" data-tooltip="{{ localize char.label }}" class="characteristic-label">{{ localize
            char.abbr }}</label>
          <input id="char{{ key }}" type="number" data-dtype="Number" name="system.characteristics.{{key}}.base"
            data-tooltip="{{ localize char.label }}" class="characteristic-value" value="{{char.value}}">
          <input class="characteristic-roll" name="system.characteristics.{{key}}.roll" type="text" data-dtype="String"
            data-tooltip="{{ localize char.label}} {{ localize 'OQ.Hints.RollFormula' }}" value="{{char.roll}}">
        </div>
        {{/each}}
        <a class="roll-characteristics" data-tooltip="{{ localize 'OQ.Hints.RollAll' }}"><i class="fas fa-dice"></i></a>
      </div>

    </div>

    <!-- Attributes -->
    {{> systems/oq/templates/actor/parts/attributes.hbs this}}

  </section>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="details">{{ localize 'OQ.Nav.Details' }}</a>
    <a class="item" data-tab="description">{{ localize 'OQ.Nav.Description' }}</a>
  </nav>

  <section class="sheet-content">

    <div class="tab" data-group="primary" data-tab="details">

      <div class="two-columns">

        <!-- left -->
        <div class="items">
          {{#if groupedItems.skillsAndAbilities }}
          <div class="item-group">
            <label class="item label">{{ localize 'OQ.Labels.SkillsAbilities' }}</label>
            {{#each groupedItems.skillsAndAbilities as |skillAbility|}}
            {{#if (eq skillAbility.type 'skill') }}
            {{> systems/oq/templates/actor/parts/skill.hbs skillAbility}}
            {{/if}}
            {{#if (eq skillAbility.type 'specialAbility') }}
            {{> systems/oq/templates/actor/parts/ability.hbs skillAbility}}
            {{/if}}
            {{/each}}
          </div>
          {{/if}}

          {{#if groupedItems.magic }}
          <div class="item-group">
            <label class="item label">{{ localize 'OQ.Nav.Magic' }}</label>
            {{#each groupedItems.magic as |magicItem|}}
            {{#if (eq magicItem.type 'skill')}}
            {{> systems/oq/templates/actor/parts/skill.hbs magicItem}}
            {{/if}}
            {{#if (eq magicItem.type 'specialAbility')}}
            {{> systems/oq/templates/actor/parts/ability.hbs magicItem}}
            {{/if}}
            {{#if (eq magicItem.type 'spell')}}
            {{> systems/oq/templates/actor/parts/spell.hbs magicItem}}
            {{/if}}

            {{/each}}
          </div>
          {{/if}}

          {{#if groupedItems.equipment }}
          <div class="item-group">
            <label class="item label">{{ localize 'OQ.Nav.Equipment' }}</label>
            {{#each groupedItems.equipment as |equipment|}}
            {{> systems/oq/templates/actor/parts/equipment.hbs equipment}}
            {{/each}}
          </div>
          {{/if}}
        </div>


        <!-- right -->
        <div class="items">
          <div class="item-group">
            <div class="item initiative">
              {{> systems/oq/templates/actor/parts/initiative.hbs }}
            </div>
          </div>

          <div class="item-group">
            <label class="item label">{{ localize 'OQ.Nav.Combat' }}</label>
          </div>
          <div class="item-group">
            {{#each groupedItems.resistances as |skill|}}
            {{> systems/oq/templates/actor/parts/skill.hbs skill}}
            {{/each}}
          </div>
          {{#each groupedItems.weaponsBySkills as |skillWithWeapons|}}
          <div class="item-group">
            {{#if skillWithWeapons.skill}}
            {{> systems/oq/templates/actor/parts/skill.hbs skillWithWeapons.skill}}
            {{/if}}
            {{#each skillWithWeapons.weapons as |weapon|}}
            {{> systems/oq/templates/actor/parts/weapon.hbs weapon}}
            {{/each}}
          </div>
          {{/each}}

          <div class="item-group">
            {{#each groupedItems.combatAbilities as |ability|}}
            {{> systems/oq/templates/actor/parts/ability.hbs ability}}
            {{/each}}
          </div>

          <div class="item-group">
            {{#each groupedItems.armours as |armour|}}
            {{> systems/oq/templates/actor/parts/armour.hbs armour}}
            {{/each}}
          </div>

        </div>
      </div>
    </div>


    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.personal.description" id="description"
      engine="prosemirror"
      button=true editable=true}}
    </div>
  </section>

  <section class="sheet-footer">
    <div class="sheet-hint">{{ localize 'OQ.Hints.ItemRollHint' }}</div>
  </section>
</form>