<div class="items">
  <fieldset class="item-group">
    <legend>{{ localize 'OQ.SkillGroups.combat'}}</legend>
    {{#each system.groupedItems.combatSkills as |skill|}}
      {{> systems/oq/templates/actor/parts/skill.hbs skill}}
    {{/each}}
  </fieldset>

  <fieldset class="item-group">
    <legend>{{ localize 'OQ.SkillGroups.resistance'}}</legend>
    {{#each system.groupedItems.resistances as |skill|}}
      {{> systems/oq/templates/actor/parts/skill.hbs skill}}
    {{/each}}
  </fieldset>

  <fieldset class="item-group">
    <legend>{{ localize 'OQ.Labels.Weapons' }}</legend>
    {{#each system.groupedItems.weapons as |weapon|}}
      {{> systems/oq/templates/actor/parts/weapon.hbs weapon}}
    {{/each}}
  </fieldset>

  <fieldset class="item-group">
    <legend>{{ localize 'OQ.Labels.Armours' }}</legend>
    {{#each system.groupedItems.armours as |armour|}}
      {{> systems/oq/templates/actor/parts/armour.hbs armour}}
    {{/each}}
  </fieldset>

  {{#if system.groupedItems.combatAbilities}}
    <fieldset class="item-group">
      <legend>{{ localize 'OQ.Labels.SpecialAbilities'}}</legend>
      {{#each system.groupedItems.combatAbilities as |ability|}}
        {{> systems/oq/templates/actor/parts/ability.hbs ability}}
      {{/each}}
    </fieldset>
  {{/if}}
</div>
