<div class="items combat">
  <div class="item-group">
    {{> systems/oq/templates/actor/parts/initiative.hbs }}
  </div>
  <div class="item-group">
    <label>{{ localize 'OQ.SkillGroups.combat'}}</label>
    {{#each system.groupedItems.combatSkills as |skill|}}
      {{> systems/oq/templates/actor/parts/skill.hbs skill}}
    {{/each}}
  </div>

  <div class="item-group">
    <label>{{ localize 'OQ.SkillGroups.resistance'}}</label>
    {{#each system.groupedItems.resistances as |skill|}}
      {{> systems/oq/templates/actor/parts/skill.hbs skill}}
    {{/each}}
  </div>

  <div class="item-group">
    <label>{{ localize 'OQ.Labels.Weapons' }}</label>
    {{#each system.groupedItems.weapons as |weapon|}}
      {{> systems/oq/templates/actor/parts/weapon.hbs weapon}}
    {{/each}}
  </div>

  <div class="item-group">
    <label>{{ localize 'OQ.Labels.Armours' }}</label>
    {{#each system.groupedItems.armours as |armour|}}
      {{> systems/oq/templates/actor/parts/armour.hbs armour}}
    {{/each}}
  </div>

  {{#if system.groupedItems.combatAbilities}}
    <div class="item-group">
      <label>{{ localize 'OQ.Labels.SpecialAbilities'}}</label>
      {{#each system.groupedItems.combatAbilities as |ability|}}
        {{> systems/oq/templates/actor/parts/ability.hbs ability}}
      {{/each}}
    </div>
  {{/if}}
</div>
