<label for="initiative">{{ localize 'OQ.Labels.Initiative' }}</label><select
  name="system.attributes.initiative.reference" id="initiative">
  {{selectOptions initiativeOptions selected=system.attributes.initiative.reference blank='' sort=true }}
</select><label for="initiativeMod">{{ localize 'OQ.Labels.Mod' }}</label><input id="initiativeMod"
                                                                                 class="short-input mod-value"
                                                                                 type="number" data-dtype="Number"
                                                                                 name="system.attributes.initiative.mod"
                                                                                 value="{{ system.attributes.initiative.mod }}">
<div>{{ system.attributes.initiative.value }}</div>

