<div class="items skills">
  {{#each system.groupedItems.groupedSkillByGroupName as |skills groupKey|}}
    <div class="item-group">
      <div class="item label">
        <div>{{ localize groupKey }}</div>
        <a class="add-new-item" data-tooltip="{{ localize 'OQ.Labels.AddNew' }} {{ localize groupKey }}"
           data-type="skill" data-group="{{ groupKey }}"><i class="fas fa-plus"></i></a>
      </div>
      {{#each skills as |skill|}}
        {{> systems/oq/templates/actor/parts/skill.hbs skill}}
      {{/each}}
    </div>
  {{/each}}
  {{#if system.groupedItems.abilities }}
    <div class="item-group">
      <label>{{localize 'OQ.Labels.SpecialAbilities' }}</label>
      {{#each system.groupedItems.abilities as |ability|}}
        {{> systems/oq/templates/actor/parts/ability.hbs ability}}
      {{/each}}
    </div>
  {{/if}}
</div>
