<form class="item-sheet {{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flex0">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="64" height="64"
         alt="{{item.name}}">
    <div class="flexcol">
      <input class="name" type="text" data-dtype="String" name="name" value="{{item.name}}"
             placeholder="{{localize 'OQ.Labels.Name'}}">
      {{#if system.slug }}
        <span class="short-name">{{system.slug}}</span>
      {{/if}}
    </div>
  </header>

  <section class="sheet-content">
    {{ getPartial this.item.type this }}
    <fieldset class="description-container">
      <legend>{{localize 'OQ.Labels.Description'}}</legend>
      {{editor enrichedDescription target="system.description" id="description" engine="prosemirror" button=true
               class="flex1"}}
    </fieldset>

  </section>
</form>
