<div class="item-details">
  <label for="type">{{localize 'OQ.Labels.Type'}}</label>

  <select name="system.type" id="type">
    {{selectOptions skillTypes selected=system.type localize=true}}
  </select>
  {{#if customType}}
    <label for="customType">{{localize 'OQ.Labels.CustomType'}}</label>
    <input type="text" name="system.customTypeName" id="customType" value="{{system.customTypeName}}">
  {{/if}}
  <label for="formula">{{localize 'OQ.Labels.Formula'}}</label>
  <input type="text" name="system.formula" id="formula" value="{{system.formula}}">
  {{#if assigned}}
    <label for="advancement">{{ localize 'OQ.Labels.Advances' }}</label>
    <input type="number" data-dtype="Number" id="advancement" name="system.advancement" value="{{ system.advancement }}">

    <label for="mod">{{localize 'OQ.Labels.Mod'}}</label>
    <input type="number" name="system.mod" id="mod" value="{{system.mod}}">

    <label>{{ localize 'OQ.Labels.TotalValue' }}</label>
    <div>{{ system.rollValues.value }}</div>
  {{/if}}

</div>
