<div class="flex0 grid1_3">
  <label for="group">{{localize 'OQ.Labels.Group'}}</label>

  <select name="system.group" id="group">
    {{selectOptions skillGroups selected=system.group localize=true}}
  </select>
  {{#if customGroup}}
    <label for="customGroup">{{localize 'OQ.Labels.CustomGroup'}}</label>
    <input type="text" name="system.customGroupName" id="customGroup" value="{{system.customGroupName}}">
  {{/if}}
  <label for="formula">{{localize 'OQ.Labels.Formula'}}</label>
  <input type="text" name="system.formula" id="formula" value="{{system.formula}}">
  {{#if assigned}}
    <label for="mod">{{localize 'OQ.Labels.Mod'}}</label>
    <input type="number" name="system.mod" id="mod" value="{{system.mod}}">
  {{/if}}
</div>
