{{ log this }}
<div class="oq chat-item">
  <div class="item-header">
    {{#if img}}
      <img class="item-image" src="{{ img }}" alt="{{ name }}">
    {{/if}}
    <div class="item-header-container">
      <div class="item-title">{{ name }}</div>
      <div class="item-subtitle">
        {{ localize itemTypeLabel }}{{#if itemSubtypeLabel}}: {{ localize itemSubtypeLabel }}{{/if}}
      </div>
      <div class="item-header-fields">
        {{#each fields as |field|}}
          <div class="field-label">{{ localize field.label }}</div>
          <div class="field-value">{{ field.value }}</div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="item-body">
    <div class="item-description"> {{{ description }}} </div>
    {{#if traits}}
      <div class="item-traits"><strong>{{ localize 'OQ.Labels.Traits' }}: </strong>{{{traits}}}</div>
    {{/if}}
  </div>
</div>
