<div class="oq roll skill-roll">
  <div class="roll-title">{{entityName}}{{#if mastery}}<strong> (mastered)</strong>{{/if}}</div>
  <div class="roll-formula">{{roll.formula}} ({{roll.total}}) ⩽ {{value}}{{#if difficulty}} + {{difficulty.value}}{{/if}}{{#if modifier}} + {{modifier}}{{/if}}</div>
  <div class="roll-result roll-result-{{rollResult}}">{{ localize (concat 'OQ.RollResults.' rollResult) }}</div>
</div>
