<div class="oq roll skill-roll">
  <div class="roll-header">
    {{#if img}}
      <img class="roll-img" src="{{img}}" alt="{{ entityName }}">
    {{/if}}
    <div class="roll-header-container">
      <div class="roll-title">{{entityName}}{{#if mastery}}<strong> (mastered)</strong>{{/if}}</div>

      <div class="label">{{ localize 'OQ.Labels.Type' }}</div>
      <div>{{ localize 'TYPES.Item.skill' }}</div>

      <div class="label">{{ localize 'OQ.Labels.SkillValue' }}</div>
      <div>{{value}}</div>
      {{#if difficulty}}
        <div class="label">{{ localize 'OQ.Labels.Difficulty'}}</div>
        <div>{{ localize (concat 'OQ.Labels.DifficultyLevels.' difficulty.key)}} ({{ difficulty.value }}%)</div>
      {{/if}}
      {{#if modifier}}
        <div class="label">{{ localize 'OQ.Labels.OtherMods'}}</div>
        <div>{{modifier}}</div>
      {{/if}}
    </div>
  </div>
  <div class="roll-result roll-result-{{rollResult}}">{{ localize (concat 'OQ.RollResults.' rollResult) }}</div>

  {{{ renderRoll }}}
</div>
