<div class="oq chat roll skill-roll">
  <div class="roll-header">
    {{#if img}}
      <img class="roll-img" src="{{img}}" alt="{{ entityName }}">
    {{/if}}
    <div class="roll-header-container">
      <div class="roll-title">{{entityName}}</div>
      {{#if mastered}}
        <div class="roll-subtitle">{{ localize 'OQ.Labels.Mastered' }}</div>
      {{/if}}

      <div class="label">{{ localize 'OQ.Labels.Type' }}</div>
      <div>{{ localize rollTypeLabel }}</div>

      <div class="label">{{ localize 'OQ.Labels.SkillValue' }}</div>
      <div>{{value}}</div>
      {{#if difficulty}}
        <div class="label">{{ localize 'OQ.Labels.Difficulty'}}</div>
        <div>{{ localize (concat 'OQ.Labels.DifficultyLevels.' difficulty.key)}} ({{ difficulty.value }}%)</div>
      {{/if}}
      {{#if modifier}}
        <div class="label">{{ localize 'OQ.Labels.OtherMods'}}</div>
        <div>{{modifier}}</div>
      {{/if}}
    </div>
  </div>
  <div class="roll-result roll-result-{{rollResult}}">{{ localize (concat 'OQ.RollResults.' rollResult) }}</div>

  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-formula">{{roll.formula}} ⩽ {{totalValue}}</div>
      <h3 class="dice-total">{{roll.total}}</h3>
    </div>
  </div>

</div>
